@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.flex1 {
  flex: 1;
  overflowY: auto;
  padding: 1.8rem;
  background-color: lavender;
}


.filters {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem;
  min-height: 100px;
}
.dt {
  /*flex-grow: 1;*/
  z-index: 2000;
}
.query {
  padding: 1.5em 1em;
  text-align: center;
  color: #FFF;
  background-color: #263238;
  width: 80%;
  font-family: Menlo;
}
.query .operator {
  color: #FF5370;
  font-weight: bold;
  padding: 0 6px;
}
.query .attr {
  color: #B2CCD6;
}
.query .value {
  color: #C3E88D;
  font-weight: bold;
}

canvas {
  z-index: 4 !important;
}
